@import '../../scss/variables.scss';
.sign-in{

    .form-control{
        height: 30px;
        box-shadow: none;
    }
    .btn{
        
        
    }

}

.form-button{
    background-color: $color-main;
    color: white;
    min-width: 100% !important;
    &:hover{
        color: white;
    }
}

