@import "../../scss/variables.scss";
.main-content{
    .content-header{
        display: flex;
        flex-wrap: wrap;
        
        .left{
            flex: 2;
            
            .h1{
                font-weight: 700;
            }


        }
        .right{
            min-height: 300px;
            flex: 3;
            background-image: url('../../images/Background.png');
            background-size:cover;
            background-position: center;

        }
    }




    .cities-section{
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        img{
            height: 100%;
        }

        .floated{
            
            
           
                display: block;
                position: absolute;
                left:14px;
                bottom:2px;
                padding:5px 30px ;
                background-color:rgba(0,0,0,0.4);
                color: white;
                p{
                    margin-bottom: 0;
                    font-size: small;
                    
                }
                

                

            
           
        }
    }
    .line{
            
        width: 100px;
        border-top: 3px solid $color-main;
    }
}





@media (max-width:750px) {
    .content-header{
        display: block !important;

        .right{
            width: 100%;
        }
        
        

    }
    
}